<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSH Website</title>
</head>
<body>
    <form>
        <input type="text" name="host" placeholder="Host"><br>
        <input type="number" name="port" placeholder="Port" value="22"><br>
        <input type="text" name="username" placeholder="Username"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <input type="text" name="command" placeholder="command"><br>
        <input type="submit">
    </form>
    <pre>{{output}}</pre>
</body>
</html>